[Unit]
Description=Gunicorn instance to serve Flask app
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/backend
ExecStart=/home/ec2-user/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:8000 app:app

[Install]
WantedBy=multi-user.target