[Unit]
Description=Gunicorn instance to serve Flask app
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/var/www/backend
ExecStart=/var/www/backend/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:8000 app:app

[Install]
WantedBy=multi-user.target