.tab {
  overflow: hidden;
  border: 1px solid #aaaaf1;
  background-color: #e6e6fa;
}

.tab button {
  float: left;
  border: none !important;
  border-radius: unset;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #babadf;
  box-shadow: unset;
}

.tab button.active {
  background-color: #aaaaf1;
}

.tabContent {
  display: none;
  padding: 16px 16px;
  border: 1px solid #aaaaf1;
  border-top: none;
}

@media (max-width: 390px) {
    td:nth-child(3), /* Hide the 3rd column */
    th:nth-child(3) {
        display: none;
    }
    .tabContent {
      padding: 5px 5px;
    }
}